@using X.PagedList;
﻿@using crucibleBlog.Data;
@using Microsoft.AspNetCore.Identity;
@using crucibleBlog.Enums;
@using crucibleBlog.Services.Interfaces;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model IPagedList<crucibleBlog.Models.BlogPost>

@inject IBlogService _BlogService
@inject IImageService _ImageService
@inject UserManager<BlogUser> _UserManager
@inject ApplicationDbContext _context

@{
	ViewData["Title"] = "Home Page";
}

<style>
	.pagination-container {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.page-info {
		font-size: 16px;
		color: #999;
	}

	.pagination-links {
		display: flex;
		align-items: center;
	}

		.pagination-links .my-page-item {
			margin-right: 5px;
		}

		.pagination-links .my-page-link {
			text-decoration: none;
			padding: 5px 10px;
			border: 1px solid #ccc;
			border-radius: 3px;
			color: #333;
			background-color: #fff;
		}

			.pagination-links .my-page-link:hover {
				background-color: #f5f5f5;
			}

		.pagination-links .my-page-item.active .my-page-link {
			background-color: #007bff;
			color: #fff;
		}

			.pagination-links .my-page-item.active .my-page-link:hover {
				background-color: #007bff;
				color: #fff;
				border-color: #007bff;
			}
</style>



<!-- Start Mobile Menu Area  -->
<div class="popup-mobilemenu-area">
	<div class="inner">
		<div class="mobile-menu-top">
			<div class="logo">
				<a href="index.html">
					<img class="dark-logo" src="~/assets/images/logo/logo-black.png" alt="Logo Images">
					<img class="light-logo" src="~/assets/images/logo/logo-white2.png" alt="Logo Images">
				</a>
			</div>
			<div class="mobile-close">
				<div class="icon">
					<i class="fal fa-times"></i>
				</div>
			</div>
		</div>
		<ul class="mainmenu">
			<li class="menu-item-has-children">
				<a href="#">Home</a>
				<ul class="axil-submenu">
					<li><a href="index.html">Home Default</a></li>
					<li><a href="home-creative-blog.html">Home Creative Blog</a></li>
					<li><a href="home-seo-blog.html">Home Seo Blog</a></li>
					<li><a href="home-tech-blog.html">Home Tech Blog</a></li>
					<li><a href="home-lifestyle-blog.html">Home Lifestyle Blog</a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">Categories</a>
				<ul class="axil-submenu">
					<li><a href="post-details.html">Accessibility</a></li>
					<li><a href="post-details.html">Android Dev</a></li>
					<li><a href="post-details.html">Accessibility</a></li>
					<li><a href="post-details.html">Android Dev</a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">Post Format</a>
				<ul class="axil-submenu">
					<li><a href="post-format-standard.html">Post Format Standard</a></li>
					<li><a href="post-format-video.html">Post Format Video</a></li>
					<li><a href="post-format-gallery.html">Post Format Gallery</a></li>
					<li><a href="post-format-text.html">Post Format Text Only</a></li>
					<li><a href="post-layout-1.html">Post Layout One</a></li>
					<li><a href="post-layout-2.html">Post Layout Two</a></li>
					<li><a href="post-layout-3.html">Post Layout Three</a></li>
					<li><a href="post-layout-4.html">Post Layout Four</a></li>
					<li><a href="post-layout-5.html">Post Layout Five</a></li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<a href="#">Pages</a>
				<ul class="axil-submenu">
					<li><a href="post-list.html">Post List</a></li>
					<li><a href="archive.html">Post Archive</a></li>
					<li><a href="author.html">Author Page</a></li>
					<li><a href="about.html">About Page</a></li>
					<li><a href="maintenance.html">Maintenance</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</li>
			<li><a href="404.html">404 Page</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
		<div class="buy-now-btn">
			<a href="#">Buy Now <span class="badge">$15</span></a>
		</div>
	</div>
</div>
<!-- End Mobile Menu Area  -->
<!-- Start Author Area  -->
<div class="axil-author-area axil-author-banner bg-color-grey">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="about-author">
					<div class="media">
						<div class="thumbnail">
							<a href="#">
								<img src="/img/pictures/6D8B0521-88C4-4259-B52D-B52D3B5388AB.jpg" alt="Author Images" class="img-flex text-start" height="400" width="400">
							</a>
						</div>
						<div class="media-body">
							<div class="author-info">
								<h1 class="title"><a href="#">Dylan Taylor</a></h1>
								<span class="b3 subtitle">Junior Web Developer</span>
							</div>
							<div class="content">
								<p class="b1 description">Being new to the web development field, I aspire to learn everything I can and to improve my skills with every passing day.</p>
								<ul class="social-share-transparent size-md">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="far fa-envelope"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Author Area  -->
<!-- Start Post List Wrapper  -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-xl-8">
			<!-- Start Post List Wrapper -->
			<div class="axil-post-list-area axil-section-gap bg-color-white">
				<div class="row">
					@foreach (BlogPost blogPost in Model)
					{
						<partial name="_BlogCard" model="@blogPost" />
					}
				</div>

				<div class="pagination-container">
					<div class="page-info">
						Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
					</div>
					<div class="pagination-links">
						@Html.PagedListPager(Model, pageNum => Url.Action("Index", new {pageNum }),
						new PagedListRenderOptions{
						LiElementClasses = new string[] {"my-page-item"},
						PageClasses = new string[] {"my-page-link"}
						})
					</div>
				</div>
				<!-- Start Post List -->
			</div>
		</div>

		<div class="col-lg-4 col-xl-4">
			<!-- Start Sidebar Area  -->
			<div class="sidebar-inner">
				<!-- Start Single Widget  -->
				<div class="axil-single-widget widget widget_categories mb--30">
					<ul>
						@foreach (Category category in (await _BlogService.GetCategoriesAsync()).Take(4))
						{
							<li class="cat-item">
								<a href="#" class="inner">
									<div class="thumbnail">
										<img src="@_ImageService.ConvertByteArrayToFile(category.ImageData,category.ImageType,(int)DefaultImage.CategoryImage)" alt="">
									</div>
									<div class="content">
										<h5 class="title">@category.Name</h5>
									</div>
								</a>
							</li>
						}
					</ul>
				</div>
				<!-- End Single Widget  -->
				<!-- Start Single Widget  -->
				<div class="axil-single-widget widget widget_search mb--30">
					<h5 class="widget-title">Search</h5>
					<form asp-action="SearchIndex" asp-controller="Home" method="get">
						<div class="axil-search form-group">
							<button type="submit" class="search-button"><i class="fal fa-search"></i></button>
							<input type="text" class="form-control" name="searchString" placeholder="Search">
						</div>
					</form>
				</div>
				<!-- End Single Widget  -->
				<!-- Start Single Widget  -->
				<div class="axil-single-widget widget-style-2 widget_postlist mb--30">
					<h5 class="widget-title">Popular Posts</h5>
					<!-- Start Post List -->
					<div class="post-medium-block">
						@foreach (BlogPost blogPost in (await _BlogService.GetPopularBlogPostsAsync(3)))
						{
							<!-- Start Single Post -->
							<div class="content-block post-medium mb--20">
								<div class="post-thumbnail">
									<a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
										<img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData,blogPost.ImageType,(int)DefaultImage.BlogPostImage)">
									</a>
								</div>
								<div class="post-content">
									<h6 class="title">
										<a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
											@blogPost.Title
										</a>
									</h6>
									<div class="post-meta">
										<ul class="post-meta-list">
											<li>@blogPost.CreatedDate.ToString("MM dd, yyyy")</li>
										</ul>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- End Single Widget  -->
<!-- Start Single Widget  -->

<!-- End Post List Wrapper  -->
<!-- Start Back To Top  -->
<a id="backto-top"></a>
<!-- End Back To Top  -->
